<form action="/songs/<%=@song.slug%>/edit" method="post"> -->
  <input type="hidden" name="_method" value="PATCH">
  <label for="name">Name</label>
  <input id="name" type="text" name="song[name]" value="<%=@song.name%>">
  Genre:
  <% @genres.each do |genre| %>
  <label for="<%=genre.slug%>"><%=genre.name%></label>
  <input id="<%=genre.slug%>" type="checkbox" name="genre" value="<%=genre.name%>">
  <% end %>
  <label for="artist">Artist Name</label>
  <input id="artist" type="input" name="song[artist]" value="<%=@song.artist.name%>">
  <input type="submit" value="Save">
</form>
